@import "./mixins";

.homework_component {
    @include flex(row, center, flex-start);

    width: 100%;
    height: 100%;
    background: rgb(24, 28, 31);
    border-radius: 25px;

    h1 {
        font-size: 28px;
    }

    .left_side {
        @include flex(column, flex-start, center);
        
        text-align: center;
        width: 45%;
        height: 100%;

        .homeworks {
            @include flex(column, flex-start, center);
            
            overflow: hidden;
            background: rgb(41, 44, 49);
            width: 95%;
            height: 80%;
            margin-top: 25px;
            border-radius: 15px;

            .list {
                @include flex(column, flex-start, center);
                
                overflow: scroll;
                width: 100%;
            }

            .fields {
                @include flex(row, flex-start, center);
                
                transition: .15s ease-out;
                width: 100%;
                min-height: 50px;
                background: rgb(58, 63, 69);
                font-weight: 600;
                font-size: 20px;
                border-bottom: 5px solid rgb(41, 44, 49);

                div {
                    @include flex(row, flex-start, center);
                    
                    min-height: 50px;
                    width: 100%;
                    margin-left: 15px;

                    &:not(:last-of-type) {
                        border-right: 5px solid rgb(41, 44, 49);
                    }
                }

                .field_student {
                    width: 60%;
                }

                .field_date {
                    width: 40%;
                }
            }
        }
    }

    .middle_side {
        @include flex(column, flex-start, center);
        
        width: 25%;
        height: 100%;

        textarea {
            margin-top: 25px;
            padding: 15px;
            font-size: 20px;
            border-radius: 35px;
            width: 300px;
            height: 250px;
            background: white;
            color: black;

            &:disabled {
                color: black;
            }
        }
    }

    .right_side {
        @include flex(column, flex-start, center);
        
        width: 25%;
        padding-bottom: 25px;

        textarea {
            margin-top: 25px;
            padding: 15px;
            font-size: 20px;
            border-radius: 35px;
            width: 300px;
            height: 250px;
            background: white;
            color: black;
        }

        button {
            transition: .15s ease-out;
            cursor: pointer;
            margin-top: 30px;
            border-radius: 25px;
            font-size: 18px;
            width: 225px;
            height: 50px;
            color: white;
            background: rgb(216, 87, 61);

            &:hover {
                background: rgb(238, 56, 20);
            }

            &:disabled {
                cursor: unset;
                color: rgb(130, 130, 150);
                background: rgb(70, 70, 90);
            }
        }

        .remove_group, .remove_student {
            background: rgb(130, 35, 35);

            &:hover {
                background: rgb(200, 35, 35);
            }

            &:disabled {
                cursor: unset;
                color: rgb(130, 130, 150);
                background: rgb(70, 70, 90);
            }
        }
    }
}