@import "./mixins";

.mark {
    @include flex(row, flex-start, center);

    padding: 0;
    font-size: 18px;
    font-weight: 400;
    transition: .15s ease-out;
    cursor: pointer;
    width: 100%;
    min-height: 50px;
    background: rgb(58, 63, 69);

    &:not(:first-of-type) {
        margin-top: 5px;
    }

    &.active {
        background: rgb(103, 117, 134);

        &:hover {
            background: rgb(103, 117, 134);
        }
    }

    &:hover {
        background: rgb(64, 71, 80);
    }

    div {
        @include flex(row, flex-start, center);

        min-height: 50px;
        margin-left: 15px;

        &:not(:last-of-type) {
            border-right: 5px solid rgb(41, 44, 49);
        }
    }

    .existing_student {
        width: 60%;
    }

    .existing_mark {
        width: 40%;
    }
}