@import "./mixins";

.navbar {
    @include flex(row, space-between, center);

    height: 75px;

    .left_part {
        @include flex(row, flex-start, center);

    }

    .right_part {
        @include flex(row, flex-end, center);
        
    }

    a {
        border-radius: 25px;
        transition: .15s ease-out;
        font-weight: 500;
        color: rgb(216, 87, 61);
        margin-right: 40px;
        text-decoration: none;

        &:hover {
            color: rgb(238, 56, 20);
        }
    }

    .link {
        @include flex(row, center, center);

        transition: .15s ease-out;
        border-radius: 25px;
        width: 150px;
        height: 45px;
        font-size: 18px;

        &.active {
            color: white;
            background: rgb(216, 87, 61);
        }
    }
}