.teacher_schedule_component {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  height: 100%;
  background: #181c1f;
  border-radius: 25px;
}

.teacher_schedule_component .left_side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 75%;
  height: 100%;
}

.teacher_schedule_component .left_side .teacher_schedule {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  background: #292c31;
  width: 90%;
  height: 80%;
  margin-top: 25px;
  border-radius: 15px;
}

.teacher_schedule_component .left_side .teacher_schedule .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: scroll;
  width: 100%;
}

.teacher_schedule_component .left_side .teacher_schedule .fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .15s ease-out;
  transition: .15s ease-out;
  width: 100%;
  min-height: 50px;
  background: #3a3f45;
  font-weight: 600;
  font-size: 16px;
  border-bottom: 5px solid #292c31;
}

.teacher_schedule_component .left_side .teacher_schedule .fields div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 50px;
  margin-left: 15px;
}

.teacher_schedule_component .left_side .teacher_schedule .fields div:not(:last-of-type) {
  border-right: 5px solid #292c31;
}

.teacher_schedule_component .left_side .teacher_schedule .fields .field_group {
  width: 15%;
}

.teacher_schedule_component .left_side .teacher_schedule .fields .field_subject {
  width: 30%;
}

.teacher_schedule_component .left_side .teacher_schedule .fields .field_date {
  width: 20%;
}

.teacher_schedule_component .left_side .teacher_schedule .fields .field_theme {
  width: 35%;
}

.teacher_schedule_component .left_side .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  text-decoration: none;
}

.teacher_schedule_component .left_side .buttons a {
  text-decoration: none;
  cursor: unset;
}

.teacher_schedule_component .left_side .buttons button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: .15s ease-out;
  transition: .15s ease-out;
  cursor: pointer;
  margin-top: 30px;
  border-radius: 25px;
  font-size: 18px;
  width: 200px;
  height: 50px;
  color: white;
  background: #d8573d;
}

.teacher_schedule_component .left_side .buttons button:hover {
  background: #ee3814;
}

.teacher_schedule_component .left_side .buttons button:disabled {
  cursor: unset;
  color: #828296;
  background: #46465a;
}

.teacher_schedule_component .right_side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 25%;
  padding-bottom: 25px;
}

.teacher_schedule_component .right_side textarea {
  cursor: unset;
  margin-top: 25px;
  padding: 15px;
  font-size: 20px;
  border-radius: 35px;
  width: 325px;
  height: 250px;
  background: white;
  color: black;
}

.teacher_schedule_component .right_side textarea:disabled {
  background: #e1e1f0;
}

.teacher_schedule_component .right_side button {
  -webkit-transition: .15s ease-out;
  transition: .15s ease-out;
  cursor: pointer;
  margin-top: 30px;
  border-radius: 25px;
  font-size: 18px;
  width: 225px;
  height: 60px;
  color: white;
  background: #d8573d;
}

.teacher_schedule_component .right_side button:hover {
  background: #ee3814;
}

.teacher_schedule_component .right_side button:disabled {
  cursor: unset;
  color: #828296;
  background: #46465a;
}
